/* Error: 0.2rem and 0 are incompatible.
 *   ,
 * 9 |       $return: append($return, max($value, 0));
 *   |                                    ^^^^^^ 0.2rem
 *   |                                            = 0
 *   '
 *   node_modules\bootstrap\scss\mixins\_border-radius.scss 9:36   valid-radius()
 *   node_modules\bootstrap\scss\mixins\_border-radius.scss 20:20  border-radius()
 *   node_modules\bootstrap\scss\_reboot.scss 322:3                @import
 *   node_modules\bootstrap\scss\bootstrap.scss 17:9               @import
 *   scss\_custom.scss 2:9                                         @use
 *   scss\style.scss 1:1                                           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: 0.2rem and 0 are incompatible.\a   \2577 \a 9 \2502        $return: append($return, max($value, 0));\a   \2502                                     ^^^^^^ 0.2rem\a   \2502                                             \2501  0\a   \2575 \a   node_modules\\bootstrap\\scss\\mixins\\_border-radius.scss 9:36   valid-radius()\a   node_modules\\bootstrap\\scss\\mixins\\_border-radius.scss 20:20  border-radius()\a   node_modules\\bootstrap\\scss\\_reboot.scss 322:3                @import\a   node_modules\\bootstrap\\scss\\bootstrap.scss 17:9               @import\a   scss\\_custom.scss 2:9                                         @use\a   scss\\style.scss 1:1                                           root stylesheet";
}
